.Crypto_marquee {
  height: 15vh;
  width: 100%;
  align-content: center;
  margin-bottom: 4rem;
  position: relative;

  .Crtpo_icon_Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    border-top: 2px #fff solid;
    border-bottom: 2px #fff solid;
    display: flex;
    align-items: center;
  }

  span{
    height: 10vh;
    width: 20px;
    background: red;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 10rem;
    padding: 0 10rem 0 0;
  }

  .Crytpo_icon {
    color: #fff;
    font-size: 56px;
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.5);
    }
  }
}
